/* Fix visual issue with excess space under title on post edit page. */
.post-type-cdv8_bark #post-body #normal-sortables {
	min-height: 0;
}

/**
 * Tweaks for fixing mobile view of admin list.
 */
@media screen and (max-width: 782px) {
	th#bark_level,
	.wp-list-table tr:not(.inline-edit-row):not(.no-items) td:not(.check-column).column-bark_level {
		display: none;
	}

	.wp-list-table .is-expanded td:not(.hidden).column-bark_level {
		padding-left: 50px;
	}

	.bark_level.column-bark_level::before {
		background-color: transparent;
	}
}

/**
 * Colors.
 */
@media screen and (min-width: 782px) {
	td.bark_level.column-bark_level {
		position: relative;
		padding-left: 28px;
	}

	td.bark_level.column-bark_level::before {
		content: "";
		position: absolute;
		top: 13px;
		left: 10px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}

	.bark-level-emergency .column-bark_level::before,
	.striped > tbody > .bark-level-emergency .column-bark_level::before {
		background-color: #ac1111;
	}

	.bark-level-alert .column-bark_level::before,
	.striped > tbody > .bark-level-alert .column-bark_level::before {
		background-color: #dc4700;
	}

	.bark-level-critical .column-bark_level::before,
	.striped > tbody > .bark-level-critical .column-bark_level::before {
		background-color: #ff8145;
	}

	.bark-level-alert td.column-bark_level::before,
	.bark-level-alert td.column-bark_level::before a,
	.bark-level-emergency td.column-bark_level::before,
	.bark-level-emergency td.column-bark_level::before a,
	.bark-level-critical td.column-bark_level::before,
	.bark-level-critical td.column-bark_level::before a  {
		color: white;
	}

	.bark-level-error .column-bark_level::before,
	.striped > tbody > .bark-level-error .column-bark_level::before {
		background-color: #ffb35b;
	}

	.bark-level-warning .column-bark_level::before,
	.striped > tbody > .bark-level-warning .column-bark_level::before {
		background-color: #ffe400;
	}

	.bark-level-notice .column-bark_level::before,
	.striped > tbody > .bark-level-notice .column-bark_level::before {
		background-color: #418bff;
	}

	.bark-level-info .column-bark_level::before,
	.striped > tbody > .bark-level-info .column-bark_level::before {
		background-color: #b4e7ff;
	}

	.bark-level-debug .column-bark_level::before,
	.striped > tbody > .bark-level-debug .column-bark_level::before {
		background-color: #9100ff;
	}
}
