/**
 * Tweaks for fixing mobile view of admin list.
 */
@media screen and (max-width: 782px) {
	th#bark_level,
	.wp-list-table tr:not(.inline-edit-row):not(.no-items) td:not(.check-column).column-bark_level {
		display: none;
	}

	.wp-list-table .is-expanded td:not(.hidden).column-bark_level {
		padding-left: 50px;
	}
}

/**
 * Colors.
 */

.bark-level-emergency .column-bark_level ,
.striped > tbody > .bark-level-emergency  .column-bark_level {
	background-color: #ac1111;
}

.bark-level-alert .column-bark_level ,
.striped > tbody > .bark-level-alert  .column-bark_level {
	background-color: #dc4700;
}

.bark-level-critical .column-bark_level ,
.striped > tbody > .bark-level-critical  .column-bark_level {
	background-color: #ff8145;
}

.bark-level-alert td.column-bark_level,
.bark-level-alert td.column-bark_level a,
.bark-level-emergency td.column-bark_level,
.bark-level-emergency td.column-bark_level a,
.bark-level-critical td.column-bark_level,
.bark-level-critical td.column-bark_level a  {
	color: white;
}

.bark-level-error .column-bark_level,
.striped > tbody > .bark-level-error  .column-bark_level {
	background-color: #ffb35b;
}

.bark-level-warning .column-bark_level ,
.striped > tbody > .bark-level-warning  .column-bark_level {
	background-color: #fffbd9;
}

.bark-level-notice .column-bark_level ,
.striped > tbody > .bark-level-notice  .column-bark_level {
	background-color: #dbe9ff;
}

.bark-level-info .column-bark_level ,
.striped > tbody > .bark-level-info  .column-bark_level {
	background-color: #b4e7ff;
}

.bark-level-debug .column-bark_level ,
.striped > tbody > .bark-level-debug  .column-bark_level {
	background-color: #fffbf4;
}
